body {
    background-color: #36883c;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}
#gameArea {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 60vh;
    background-color: #f0f0f0;
}
#character {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    transition: all .5s ease-in-out;
}